<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.dao.UserDao">

    <resultMap id="UserBaseMap" type="ssm.model.User">
        <id column="c_id" property="CId" jdbcType="VARCHAR"/>
        <result column="c_name" property="CName" jdbcType="VARCHAR"/>
        <result column="c_password" property="CPassword" jdbcType="VARCHAR"/>
        <result column="c_sex" property="CSex" jdbcType="VARCHAR"/>
        <result column="c_sfzh" property="CSfzh" jdbcType="VARCHAR"/>
        <result column="c_email" property="CEmail" jdbcType="VARCHAR"/>
        <result column="c_nickname" property="CNickname" jdbcType="VARCHAR"/>
        <result column="c_phone" property="CPhone" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectUserById" parameterType="java.lang.String" resultMap="UserBaseMap">
        SELECT * FROM t_users
        WHERE c_id = #{userId}
    </select>

    <select id="selectAllUser" resultMap="UserBaseMap">
        SELECT * FROM t_users
    </select>

    <select id="selectLoginUser" resultMap="UserBaseMap">
        SELECT * FROM t_users where c_name=#{name} and c_password=#{password}
    </select>
    <insert id="insertUser" >
        insert into t_users(c_id,c_name,c_password) values (REPLACE(UUID(), '-', ''),#{name},#{password})
    </insert>
    <select id="selectNicknameById" resultType="STRING" >
        select c_nickname from t_users where c_id=#{id}
    </select>
    <update id="updateUser" parameterType="ssm.model.User" >
        update t_users set c_nickname=#{CNickname},c_sfzh=#{CSfzh},c_phone=#{CPhone},c_email=#{CEmail},c_sex=#{CSex}
        where c_id=#{CId}
    </update>
</mapper>